body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("../images/bg-intro-desktop.png");
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
}

#sign-up-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 75px auto 50px;
    gap: 50px;
    width: 429px;
}

.flex-item {
    width: 100%;
}

#form-container {
    text-align: center;
}

#pricing {
    background-color: hsl(248, 32%, 49%);
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px hsla(0deg 38% 51% / 80%);
}

#pricing span {
    font-weight: 700;
}

#card {
    color: gray;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px hsla(0deg 38% 51% / 80%);
}

#card input {
    width: 100%;
    display: block;
    padding: 14px 0 14px 25px;
    margin-bottom: 15px;
    border-color: hsl(246, 25%, 77%);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#card input:focus {
    outline-color: hsl(249, 10%, 26%);
    outline-width: 1px;
    outline-style: solid;
}

#card input:not(:placeholder-shown):invalid,
#card input.touched:invalid {
    border-color: hsl(0, 100%, 74%);
    outline-color: hsl(0, 100%, 74%);
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% right 32px;
    color: red;
}

.error {
    display: block;
    font-style: italic;
    text-align: right;
    font-size: 0.7rem;
    position: relative;
    top: -10px;
    color: red;
    padding-bottom: 5px;
}

#card button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 3px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 3px 3px rgb(105 105 105 / 80%);
}

#card button:hover {
    background-color: hsl(154, 56%, 68%);
    cursor: pointer;
}

#terms {
    font-size: 0.7rem;
    line-height: 1.7;
}

#terms p {
    margin-bottom: 0;
}

#terms a {
    color: hsl(0, 75%, 65%);
    font-weight: 700;
    text-decoration: none;
}

@media (min-width: 1000px) {
    h1 {
        font-size: 3rem;
        margin: 0;
    }

    #sign-up-container {
        text-align: left;
        margin: 100px auto 150px;
        gap: 20px;
        width: 973px;
    }

    .flex-item {
        flex: 1;
    }

    #card {
        padding: 30px;
    }
}