:root {
    --main-background-color: hsl(0, 100%, 74%);
    --dark-background-color: hsl(248, 32%, 49%);
    --button-color: hsl(154, 59%, 51%);
    --button-hover-color: hsl(154, 56%, 68%);
    --button-shadow-color: rgb(105 105 105 / 80%);
    --input-border-color: hsl(246, 25%, 77%);
    --input-outline-color: hsl(249, 10%, 26%);
    --error-color: hsl(0, 62%, 53%);
    --card-shadow-color: rgba(143, 66, 66, 0.8);
    --link-color: hsl(0, 75%, 65%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    background-image: url("../images/bg-intro-mobile.png");
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

button,
input {
    font-family: inherit;
}

/* Overview Section */

.overview h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 30px;
}

.overview p {
    font-size: 1.0rem;
    line-height: 1.6;
}

/* Sign-up Container Section */

.sign-up-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 15px 80px;
    gap: 60px;
    max-width: 330px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pricing,
.card {
    box-shadow: 0px 7px 2px var(--card-shadow-color);
}

/* Pricing Section */

.pricing {
    background-color: var(--dark-background-color);
    padding: 15px 50px;
    border-radius: 10px;
}

.pricing span {
    font-weight: 700;
}

/* Sign-up Card Section */

.card {
    color: gray;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

/* Sign-up Form */

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item {
    position: relative;
}

.form-item label {
    position: absolute;
    font-size: 0.9rem;
    font-weight: 600;
    left: 20px;
    top: 14px;
}

label.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.form-item label:hover {
    cursor: text;
}

.form-item input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 60px 14px 20px;
    border-color: var(--input-border-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9rem;
    font-weight: 600;
}

.form-item input:focus {
    outline-color: var(--input-outline-color);
    outline-width: 1px;
    outline-style: solid;
}

.form-item input.touched:invalid {
    border-color: var(--error-color);
    outline-color: var(--error-color);
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% right 25px;
    color: var(--error-color);
}

.form-item .error {
    display: block;
    font-style: italic;
    text-align: right;
    font-size: 0.7rem;
    color: var(--error-color);
    padding: 5px 0;
}

.sign-up-form button {
    background-color: var(--button-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    margin-bottom: 3px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 3px 3px var(--button-shadow-color);
}

.sign-up-form button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.terms {
    padding: 0 8%;
    font-size: 0.7rem;
    line-height: 2;
}

.terms a {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
}

/* Attribution Section */

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
    body {
        background-image: url("../images/bg-intro-desktop.png");
    }

    .sign-up-container {
        flex-direction: row;
        margin: 100px 100px 150px;
        gap: 50px;
        max-width: 1100px;
    }

    .overview {
        text-align: left;
    }

    .overview h1 {
        font-size: 3rem;
    }

    .flex-item {
        flex: 1;
    }

    .card {
        padding: 35px;
    }
}